/*Main Settings Animation and Custom CSS Start*/.wp-megamenu-main-wrapper .wpmm-mega-menu-icon{
	 	font-size:13px;
	 }.first-image,.second-image{background-repeat:no-repeat;background-position:left top;}#wpmm_cbg_38415.zoom{ 
                	animation:10s ease-in-out 1s normal none infinite running image;
                	-webkit-animation:10s ease-in-out 1s normal none infinite running image;
                	 opacity:0.5;
                }.first-image,.second-image{background-repeat:no-repeat;background-position:left top;}#wpmm_cbg_38416.zoom{ 
                	animation:10s ease-in-out 1s normal none infinite running image;
                	-webkit-animation:10s ease-in-out 1s normal none infinite running image;
                	 opacity:0.5;
                }.first-image,.second-image{background-repeat:no-repeat;background-position:left top;}#wpmm_cbg_38418.zoom{ 
                	animation:10s ease-in-out 1s normal none infinite running image;
                	-webkit-animation:10s ease-in-out 1s normal none infinite running image;
                	 opacity:0.5;
                }.first-image,.second-image{background-repeat:no-repeat;background-position:left top;}#wpmm_cbg_41196.zoom{ 
                	animation:10s ease-in-out 1s normal none infinite running image;
                	-webkit-animation:10s ease-in-out 1s normal none infinite running image;
                	 opacity:0.5;
                }/*Custom CSS End*/