.hrnmoel-image-box-img_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-out;
  transform: scale(1);
}

.hrnmoel-image-panel-wrapper .image-panel .scale-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: 0.5s ease-out;
  transform: scale(1);
}

.hrnmoel-image-panel-wrapper .image-panel {
  display: block;
  background-color: #ccc;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.hrnmoel-image-panel-wrapper .panel-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #001740db;
  text-align: center;
  color: #fff;
  transition: 0.5s ease-out;
}

.hrnmoel-image-panel-wrapper .panel-overlay .panel-interior {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 20px;
}

.hrnmoel-image-panel-wrapper .panel-overlay .panel-icon {
  position: relative;
  display: inline-flex;
  margin-bottom: 17px;
}

.hrnmoel-image-panel-wrapper .panel-overlay h3 {
  font-family: lato-black;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  margin-top: 0;
  margin-bottom: 7px;
}

.hrnmoel-image-panel-wrapper .panel-overlay .panel-details {
  display: block;
  font-size: 14px;
  line-height: 16px;
}

.hrnmoel-image-panel-wrapper .image-panel:hover > .scale-image {
  transform: scale(1.05);
}

.hrnmoel-image-panel-wrapper .panel-icon {
  max-width: 100px;
}

.hrnmoel-image-panel-wrapper .hrnmoel-icon {
  fill: currentColor;
}

.hrnmoel-image-panel-wrapper {
  position: relative;
  padding-top: 100%;
}
